<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /klima/

  # Redirect Trailing Slashes, but ensure it works with the subdirectory
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)/$ /$1 [L,R=301]

  # Handle Frontend Routes
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
