/* https://www.npmjs.com/package/@fontsource/source-sans-pro */
/*
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*/

// https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/light-dark
// https://medium.com/@brcsndr/you-dont-know-css-dark-mode-theming-and-swapping-with-css-and-design-tokens-ac1273936940


//@import '@/style/colors.scss';
@use "sass:color";
@use '@/style/colors.scss';

:root {
  /*
  font-family: "Source Sans Pro";
  */
  font-family: "Roboto";
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /*
  --md-dark-bg: #333;
  --md-dark-color: #ddd;

  --card-light-bg: #ddf;
  --card-light-color: #330;

  --card-dark-bg: #330;
  --card-dark-color: #ddf;

  --card-dark-border: #dd4;
  --card-light-border: #22c;

  --chart-light-bg: #dfd;
  --chart-light-color: #303;

  --chart-dark-bg: #303;
  --chart-dark-color: #dfd;

  --link-light-color: #646cff;
  --link-dark-color: #74fc7f;
  --linkhover-light-color: #535bf2;
  --linkhover-dark-color: #63fb62;

  --tile-light-bg: #ccc;
  --tile-light-color: #033;
  --tile-dark-bg: #033;
  --tile-dark-color: #ccc;
  */
  --md-light-bg: $dash-bg1-light; // #ddd;
  --md-light-color: $dash-text-light; //#333;

  //--md-dark-bg: light-dark(var($dash-bg-light), var($dash-bg-dark));
  //--md-dark-color: light-dark(var($dash-normal-text-light), var($dash-normal-text-dark));
  --md-dark-bg: $dash-bg1-dark;
  --md-dark-color: $dash-text-dark;

  --card-light-bg: $dash-bg-green-light;
  --card-light-color: $dash-text-light;

  --card-dark-bg: $dash-bg-green-light;
  --card-dark-color: $dash-text-dark;

  --card-dark-border: $dash-border-dark;
  --card-light-border: $dash-border-light;

  --chart-light-bg: $dash-bg2-light;
  --chart-light-color: $dash-h-text-light;

  --chart-dark-bg: $dash-bg2-dark,
  --chart-dark-color: $dash-h-text-dark;

  --link-light-color: $dash-link-light;
  --link-dark-color: $dash-link-dark;
  --linkhover-light-color: darken($dash-link-light,10);
  --linkhover-dark-color: lighten($dash-link-dark,10);

  --dash-accent-light: $dash-accent-light;
  --dash-accent-dark: $dash-accent-dark;

  /*
  --tile-light-bg: #ff0;
  --tile-light-color: #033;
  --tile-dark-bg: #033;
  --tile-dark-color: #ccc;
  */

  /*
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  */



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --va-font-family: "Roboto";
  //--va-background-primary: #ff0000;
  --va-background-primary: light-dark($dash-bg1-light,$dash-bg1-dark);

}
// use condensed font for small screens
@media screen and (max-width: 500px) {
  :root {
    font-family: "Roboto Condensed";
    --va-font-family: "Roboto Condensed";
  }
}

a {
  font-weight: 500;
  color: light-dark(var(--link-light-color), var(--link-dark-color));
  text-decoration: inherit;
}
a:hover {
  color: light-dark(var(--linkhover-light-color), var(--linkhover-dark-color));
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 80vh;
  //--va-background-primary: light-dark(#0ff,#ff0);//$dash-bg1-dark);
  //--va-background-primary: light-dark($dash-bg1-light,$dash-bg1-dark);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: "Noto Sans";
  color: light-dark(colors.$dash-h-text-light, colors.$dash-h-text-dark);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em .8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: light-dark(colors.$dash-link-light,colors.$dash-link-dark);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: light-dark(colors.$dash-accent-light,colors.$dash-accent-dark);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
  /*
  background-color: light-dark(var(--card-light-bg), var(--card-dark-bg));
  color: light-dark(var(--card-light-color), var(--card-dark-color));
  */
  background-color: light-dark(colors.$dash-bg2-light,colors.$dash-bg2-dark);
  color: light-dark(colors.$dash-text-light,colors.$dash-text-dark);
  border-color: light-dark(colors.$dash-border-light,colors.$dash-border-dark);   // #535bf2;

  /* Add your card styles here */
  //border: 2px solid light-dark(var(--card-light-border), var(--card-dark-border));
  border: 2px solid;
  border-radius: 8px;
  //box-shadow: 0 2px 4px rgba(1, 100, 100, 1);
  box-shadow: 0 2px 4px light-dark(colors.$dash-shadow-light,colors.$dash-shadow-dark);   // #535bf2;

}



#app {
  width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height:100vh;
}

@media screen and (max-width: 1024px) {
  #app {
    width: 100%;
    padding: .5rem;
    //padding-right: 1rem;
  }
  .card {
    padding: .5em;
    h1 {
      word-break:break-all;
    }
  }
}

.va-input-wrapper__append-inner .va-select__toggle-icon {
  color: yellow !important;
}

.va-select-option__selected-icon {
  color: light-dark(blue, yellow) !important;
}
.va-select-option--selected {
  color: light-dark(blue, yellow) !important;
}

.va-modal__close {
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  font-size: 2rem!important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: colors.$dash-text-light;
    background-color: colors.$dash-bg1-light;
  }
  a {
    color: colors.$dash-link-light;
  }
  a:hover {
    color: color.adjust(colors.$dash-link-light,$lightness: -10%);
  }
  button {
    background-color: colors.$dash-link-light;
    color: colors.$dash-h-text-light;
  }
  button:hover {
    background-color: colors.$dash-accent-light;
  }

  
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: colors.$dash-bg1-dark;
    color: colors.$dash-text-dark;
  }
  a {
    color: colors.$dash-link-dark;
  }
  a:hover {
    color: color.adjust(colors.$dash-link-dark,$lightness: 10%);
  }
  button {
    background-color: colors.$dash-link-dark;
    color: colors.$dash-h-text-dark;
  }
  button:hover {
    background-color: colors.$dash-accent-dark;
  }
}

/*
.dark {
  :root {
    color: #ffffff;
    background-color: #000000;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1a1a1a;
    color: #f9f9f9;
  }
}
*/

.tile {
  /*
  background-color: light-dark(var(--tile-light-bg), var(--tile-dark-bg));
  color: light-dark(var(--tile-light-color), var(--tile-dark-color));
  */
  background-color: light-dark(colors.$dash-bg2-light,colors.$dash-bg2-dark);
  color: light-dark(colors.$dash-text-light,colors.$dash-text-dark);
  /*
  background-color: light-dark($dark-white,$light-black);
  color: light-dark($dark-dark-gray, $light-light-gray);
  */
  //border-color: light-dark($dark-gray,$light-gray);   // #535bf2;

  margin-top:1rem;
}

.dataheader {
  display:flex;
  .header {
    margin-left:1rem;
    margin-bottom:0;
  }
  h1 {
    line-height:3rem;
    font-size: 2.5rem;
    margin-left: .5rem;
    margin-bottom:0;
  }
  va-avatar {
    margin-bottom:0;
  }
}



.customchart {
  background-color: light-dark(var(--chart-light-bg), var(--chart-dark-bg));
  color: light-dark(var(--chart-light-color), var(--chart-dark-color));
}

.chartpane {
  border-radius: 8px;
  border: solid 3px light-dark(colors.$dash-border-light,colors.$dash-border-dark);
  height: 16rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.chartfooter {
  display: flex;
  flex-wrap:wrap;
}

.chartfooter .va-chip {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
} 

.chartfooter .va-button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
} 

.cardimage  {
  /* Add your image styles here */
  //background-color: light-dark(var(--md-light-bg), var(--md-dark-bg));
  //color: light-dark(var(--md-light-color), var(--md-dark-color));

  background-color: light-dark(colors.$dash-bg1-light,colors.$dash-bg1-dark);
  color: light-dark(colors.$dash-text-light,colors.$dash-text-dark);

  width: 100%;
  height: auto;  
  border-radius: 8px;
  border-color: light-dark(colors.$dash-border-light, colors.$dash-border-dark);
  border-style: solid;
  border-width: 3px;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 8rem;
}



.mdcontent {
  /*
  background-color: light-dark(var(--md-light-bg), var(--md-dark-bg));
  color: light-dark(var(--md-light-color), var(--md-dark-color));
  */
  /*
  background-color: light-dark($dark-white,$light-black);
  color: light-dark($dark-dark-gray, $light-light-gray);
  border-color: light-dark($dark-gray,$light-gray);   // #535bf2;
  */
  background-color: light-dark(colors.$dash-bg1-light,colors.$dash-bg1-dark);
  color: light-dark(colors.$dash-text-light,colors.$dash-text-dark);
  border-color: light-dark(colors.$dash-border-light,colors.$dash-border-dark);   // #535bf2;  

  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border-style: solid;
  border-width: 3px;
  padding: 0.5rem;
  max-height: 14rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.card .mdcontent {
  margin-top: 1rem;
  margin-bottom: 1rem;
  // no border, max height
  border-radius: unset;
  border-style: solid;
  border-width: 0 0 3px 0;
  padding: 0;
  max-height: unset;
}


.fullheight {  
  max-height: unset;
  overflow-y: scroll;
}

.mdcontent {
  img {
    max-width: 20%;
    height: 100px;
    
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  ul {
    list-style: disc;
    text-align: left;
    margin-left: 0.5rem;
  }
  li {
    margin-left: 0.5rem;
  }
  p {
    margin-top:.8rem;
    margin-bottom:.3rem;
    /* inter character doesn't look good
    text-justify: inter-character;
    */
    text-justify: auto;
    word-wrap: break-word;
    text-align: justify;    
  }
  a {
    text-align: left;
  }

  h2 {
    text-align: left;
    font-size: 120%;
    font-weight: 700;
  }

  strong {
    font-weight: 700;
  }

  .footerimg {
    width: 4rem;
    height: auto;
    max-height: 4rem;
    margin: .5rem;
    padding: .3rem;
    background-color: color.adjust(colors.$dash-bg1-light,$lightness: -20%);
  }
}



// overwrite some vuestic stuff
.va-sidebar {
  position: fixed;
  top: 0;
  padding-top:5rem;
}