/* https://www.npmjs.com/package/@fontsource/source-sans-pro */
/*
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*/

// https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/light-dark
// https://medium.com/@brcsndr/you-dont-know-css-dark-mode-theming-and-swapping-with-css-and-design-tokens-ac1273936940

:root {
  /*
  font-family: "Source Sans Pro";
  */
  font-family: "Roboto";
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --md-light-bg: #ddd;
  --md-light-color: #333;

  --md-dark-bg: #333;
  --md-dark-color: #ddd;

  --card-light-bg: #ddf;
  --card-light-color: #330;

  --card-dark-bg: #330;
  --card-dark-color: #ddf;

  --chart-light-bg: #dfd;
  --chart-light-color: #303;

  --chart-dark-bg: #303;
  --chart-dark-color: #dfd;

  --link-light-color: #646cff;
  --link-dark-color: #74fc7f;
  --linkhover-light-color: #535bf2;
  --linkhover-dark-color: #63fb62;

  --tile-light-bg: #fdd;
  --tile-light-color: #033;
  --tile-dark-bg: #033;
  --tile-dark-color: #fdd;



  /*
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  */



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --va-font-family: "Roboto";
}


a {
  font-weight: 500;
  color: light-dark(var(--link-light-color), var(--link-dark-color));
  text-decoration: inherit;
}
a:hover {
  color: light-dark(var(--linkhover-light-color), var(--linkhover-dark-color));
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
  background-color: light-dark(var(--card-light-bg), var(--card-dark-bg));
  color: light-dark(var(--card-light-color), var(--card-dark-color));
}


#app {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 400px) {
  /* Your styles for small screens here */
  #app {
    width: 300px;
    padding: 0.8rem;
  }
}

@media (min-width: 401px) and (max-width: 768px) {
  /* Your styles for small screens here */
  #app {
    width: 380px;
    padding: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Your styles for medium screens here */
  #app {
    width: 720px;
    padding: 1rem;
  }
}

@media (min-width: 1025px) {
  /* Your styles for large screens here */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    color: #1a1a1a;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #000000;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1a1a1a;
    color: #f9f9f9;
  }
}

/*
.dark {
  :root {
    color: #ffffff;
    background-color: #000000;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1a1a1a;
    color: #f9f9f9;
  }
}
*/

.tile {
  background-color: light-dark(var(--tile-light-bg), var(--tile-dark-bg));
  color: light-dark(var(--tile-light-color), var(--tile-dark-color));
}

.customchart {
  background-color: light-dark(var(--chart-light-bg), var(--chart-dark-bg));
  color: light-dark(var(--chart-light-color), var(--chart-dark-color));
}

.chartpane {
  border-radius: 8px;
  border: solid #f00 3px;
  height: 16rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cardimage  {
  /* Add your image styles here */
  background-color: light-dark(var(--md-light-bg), var(--md-dark-bg));
  color: light-dark(var(--md-light-color), var(--md-dark-color));

  width: 100%;
  height: auto;  
  border-radius: 8px;
  border-color: #535bf2;
  border-style: solid;
  border-width: 3px;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 8rem;
}


.mdcontent {
  background-color: light-dark(var(--md-light-bg), var(--md-dark-bg));
  color: light-dark(var(--md-light-color), var(--md-dark-color));

  border-radius: 8px;
  border-color: #535bf2;
  border-style: solid;
  border-width: 3px;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 8rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.mdcontent {
  img {
    max-width: 30%;
    height: auto;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  ul {
    list-style: disc;
    text-align: left;
    margin-left: 0.5rem;
  }
  li {
    margin-left: 0.5rem;
  }
  p {
    text-align: left;
  }
  a {
    text-align: left;
  }

  h2 {
    text-align: left;
    font-size: 120%;
    font-weight: 700;
  }
}
