/* https://www.npmjs.com/package/@fontsource/source-sans-pro */
/*
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*/

:root {
  /*
  font-family: "Source Sans Pro";
  */
  font-family: "Roboto";
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /*
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --va-font-family: "Roboto";
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 400px) {
  /* Your styles for small screens here */
  #app {
    width: 300px;
    padding: 0.8rem;
  }
}

@media (min-width: 401px) and (max-width: 768px) {
  /* Your styles for small screens here */
  #app {
    width: 380px;
    padding: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Your styles for medium screens here */
  #app {
    width: 720px;
    padding: 1rem;
  }
}

@media (min-width: 1025px) {
  /* Your styles for large screens here */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    color: #1a1a1a;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #000000;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1a1a1a;
    color: #f9f9f9;
  }
}

.dark {
  :root {
    color: #ffffff;
    background-color: #000000;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1a1a1a;
    color: #f9f9f9;
  }
}

.chartpane {
  border-radius: 8px;
  border: solid #f00 3px;
  height: 16rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cardimage  {
  /* Add your image styles here */
  width: 100%;
  height: auto;  
  border-radius: 8px;
  border-color: #535bf2;
  background-color: #f9f9f9;
  border-style: solid;
  border-width: 3px;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 8rem;
}


.mdcontent {
  border-radius: 8px;
  border-color: #535bf2;
  background-color: #f9f9f9;
  border-style: solid;
  border-width: 3px;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 8rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.mdcontent {
  img {
    max-width: 30%;
    height: auto;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  ul {
    list-style: disc;
    text-align: left;
    margin-left: 0.5rem;
  }
  li {
    margin-left: 0.5rem;
  }
  p {
    text-align: left;
  }
  a {
    text-align: left;
  }

  h2 {
    text-align: left;
    font-size: 120%;
    font-weight: 700;
  }
}
